#intro {
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
}

.bg {
    position: absolute;
    top: 10rem;
    right: 20px;
    z-index: -1; 
    object-fit: cover;
    height: 500px; /* Ensure height and width are equal */
    width: 450px;
    margin-right: 170px;
    border-radius: 50%; /* This makes the image round */
    overflow: hidden; /* Ensures the image doesn't overflow the border */
     /* Optional: add a border */
}

.introContent {
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: slideIn 1s ease-in-out;
}

.hello {
    font-size: 4rem;
    animation: slideIn 1s ease-in-out;
    opacity: 0;
    animation-fill-mode: forwards;
}

.introText {
    opacity: 0;
    animation: fadeIn 2.5s ease-in forwards 1.5s;
    font-size: 4rem;
}

.introName {
    color: yellow;
}

.introPara {
    font-size: medium;
    font-weight: 300;
    letter-spacing: 1px;
}

.btn {
    background: white;
    margin: 1rem 0;
    padding: 0.75rem 2rem;
    border-radius: 2rem;
    border: none;
    font-weight: 700;
}

.btn Img {
    object-fit: cover;
    margin: 0 0.25rem;
    height: 1rem;
}

/* Animation for slide-in effect */
@keyframes slideIn {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Animation for fade-in effect */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Responsive Design */
@media screen and (max-width: 840px) {
    .bg {
        right: -10vw;
    }
    .introContent {
        font-size: 10vw;
    }
    .hello {
        font-size: 4.5vw;
    }
}

@media screen and (max-width: 480px) {
    .bg {
        right: -20vw;
    }
}
